@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Work Sans", sans-serif;
    /* width: 1600px; */
}

#nav-section {
    background-color: #FFF8F3;
}

.nav-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 226px;
    margin-right: 230px;
    padding-top: 50px;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 51px;
    font-size: 20px;
    font-weight: 400;
    color: #474747;
}

.mary {
    font-size: 45px;
    font-weight: 800;
}

.r {
    color: #FD6E0A;
}

.btn-hire {
    padding: 19px 35px;
    border: none;
    background-color: #FD6E0A;
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.banner-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/images/developer.png"), url("../assets/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    gap: 163px;
}

.banner-first {
    width: 585px;
}

.title {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}

.name {
    font-size: 85px;
    font-weight: 700;
}

.description {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-top: 20px;
}

.btn-download {
    padding: 19px 17px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-top: 30px;
}

.btn-contact {
    padding: 19px 23px;
    border: 1px solid #FD6E0A;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    color: #FD6E0A;
}

/* Contact section design */
#contact-section {
    margin-top: 130px;
}

.contact-area {
    width: 827px;
    margin: 0 auto;
    background-color: #FFF8F3;
    padding: 130px;
}

.contact-details {
    text-align: center;
}

.contact-title {
    font-size: 35px;
    font-weight: 700;
}

.contact-des {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-top: 30px;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    text-align: center;
    margin-top: 30px;
}

.info-title {
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}

.information {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}