@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Work Sans", sans-serif;
}

#nav-section {
    background-color: #FFF8F3;
}

.nav-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 226px;
    margin-right: 230px;
    padding-top: 50px;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 51px;
    font-size: 20px;
    font-weight: 400;
    color: #474747;
}

.mary {
    font-size: 45px;
    font-weight: 800;
}

.r {
    color: #FD6E0A;
}
.btn-hire{
    padding: 19px 35px;
    border: none;
    background-color: #FD6E0A;
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    color: white;
}
.banner-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-first{
    width: 585px;
}